<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete_tasks</title>
</head>
<body>
<h1>Delete the task</h1>

<form action="delete_tasks/deletion" method="post">
    <div>
        <label>Title</label>
        <input type="text" name="title" placeholder="Enter the title" class="entity">

        <label>Text</label>
        <input type="text" name="task_text" placeholder="Enter text of your task">
        <button>Delete</button>

        <input type="button" value="To main" onclick='location.href="/main/"'>
        <p>Status: </p>
        <div class="entity" th:text="${status}"></div>
    </div>
</form>
</body>
</html>